/* Reset CSS */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}
svg,
img,
picture,
video,
button {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
}

ul,
ol {
  list-style: none;
}

a,
span {
  display: inline-block;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

@media (prefers-reduced-motion: no-preference) {
  :has(:target) {
    scroll-behavior: smooth;
    scroll-margin-top: 2rem;
  }
}
html {
  font-size: 62.5%;
  color-scheme: light;
}

@media screen and (min-width: 768px) and(max-width: 980px) {
  html {
    font-size: 65.25%;
  }
}

@media screen and (max-width: 768px) {
  html {
    font-size: 50%;
  }
}
